@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: rgb(228, 233, 255);
    font-family: 'Lora', cursive;
}

h1 {
    text-align: center;
    font-family: 'Lora', cursive;
}

h2 {
    text-align: center;
    font-family: 'Lora', cursive;
}

h3{
    font-family: 'Lora', cursive;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 20%;
}


.description {
    text-align: center;
}

li {
    font-family: 'Lora', cursive;
}

p {
    font-family: 'Lora', cursive;
}

#links, a {
    font-family: 'Lora', cursive;
    color: rgb(131, 135, 138);
}